/* 타이틀 */
.discovery-title-area {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.discovery-title-area > h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 115%;
}
.discovery-title-area > span {
  margin: 10px;
}
.discovery-title-area > h3 {
  font-weight: 500;
  font-size: 16;
  line-height: 115%;
}
.discovery-title-area > h3,
.discovery-title-area > span {
  color: var(--color-gray-500);
}
/* 아이템 */
.discovery-itemlist {
  width: 985px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0px;
}
.discovery-itemlist,
.discovery-item {
  border: 1px solid var(--color-gray-500);
}
.discovery-item {
  position: relative;
  background-color: var(--color-white);
  margin: 5px 8px;
}
.discovery-item-btn {
  position: absolute;
  width: 42px;
  height: 42px;
  left: 20px;
  top: 248px;
  background: gray url('../assets/images/logo/angle-right.png') no-repeat;
  z-index: 9;
  transition-property: width, color, background;
  transition-duration: 0.3s;
}
.discovery-item:hover {
  border: 1px solid var(--color-blue-600);
}
.discovery-item:hover .discovery-item-btn {
  width: 112px;
  background: var(--color-blue-600) url('../assets/images/logo/angle-right.png')
    no-repeat;
  background-position: right;
}
.discovery-item:hover .discovery-item-btn::before,
.discovery-item:focus .discovery-item-btn::before {
  content: '구매하기';
  position: absolute;
  left: 10px;
  top: 10px;
  color: var(--color-white);
}
