/* 타이틀 */
.discovery-title-area {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.discovery-title-area > h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 115%;
}
.discovery-title-area > span {
  margin: 10px;
}
.discovery-title-area > h3 {
  font-weight: 500;
  font-size: 16;
  line-height: 115%;
}
.discovery-title-area > h3,
.discovery-title-area > span {
  color: var(--color-gray-500);
}
/* 아이템 */
.discovery-itemlist {
  width: 974px;
  height: 930px;
  display: flex;
  flex-wrap: wrap;
  padding: 3px 0px 13px 4px;
}
.discovery-itemlist,
.discovery-item {
  border: 1px solid var(--color-gray-500);
}
.discovery-item {
  position: relative;
  background-color: var(--color-white);
  height: 297px;
  margin-top: 10px;
  margin-bottom: 2px;
}
.discovery-item:nth-child(1),
.discovery-item:nth-child(2),
.discovery-item:nth-child(7) {
  margin-left: 12px;
}
.discovery-item:nth-child(3),
.discovery-item:nth-child(4),
.discovery-item:nth-child(5),
.discovery-item:nth-child(6),
.discovery-item:nth-child(8),
.discovery-item:nth-child(9) {
  margin-left: 12px;
}

.discovery-item-btn {
  position: absolute;
  width: 42px;
  height: 42px;
  left: 15px;
  top: 248px;
  background: gray url('../assets/images/logo/angle-right.png') no-repeat;
}
.discovery-item:hover {
  border: 1px solid var(--color-blue-500);
}
.discovery-item:hover .discovery-item-btn {
  width: 112px;
  background: var(--color-blue-500) url('../assets/images/logo/angle-right.png')
    no-repeat;
  background-position: right;
}
.discovery-item:hover .discovery-item-btn::before,
.discovery-item:focus .discovery-item-btn::before {
  content: '구매하기';
  position: absolute;
  left: 10px;
  top: 10px;
  color: var(--color-white);
}
